# Ignore everything
*

# But not these files...
!.gitignore
!requirements.txt
!main.py
!README.md
!templates/
!templates/*.html
!static/
!static/css/
!static/css/*.css

# Ignore virtual environment
venv/

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
ENV/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 